<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/custom.css" />
</head>

<body>
  <style>
    .pokemonCardBody {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(88, 1, 114, 0.534);
      color: white;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    .pokemonCard:hover .pokemonCardBody {
      opacity: 1;
    }

    .pokemonCard {
      transition: transform 0.3s ease;
    }

    .pokemonCard:hover {
      transform: scale(1.1);
    }

    .star {
      font-size: 2rem;
      cursor: pointer;

    }

    .star.gold {
      color: gold;
    }
  </style>
  <%- include('components/navbar.ejs') %>
  <div class="<%= route.startsWith('/collections') ? 'container-fluid' : 'container' %>">
    <% if (route.startsWith ('/collections')) { %>
    <div class="row mx-5">
      <div class="col-4">
        <h2 class="mt-3"><%= collectionData.name %></h2>
        <h4>By : <%= collectionData.User.username %></h4>
        <p class="lead"><%= collectionData.description %></p>

        <div class="row my-3">
          <div class="col border-top border-bottom">
            <h4 id="averageRating" class="my-3 lead fw-semibold">Community Rating : (&#9733; <%= ratingData.average %>/5)</h4>
            <h4><span style="color: gold" class="p-2">&#9733; &#9733; &#9733; &#9733; &#9733; </span><span id="count5">(<%=getCount(5);%>)</span></h4>
            <h4><span style="color: gold" class="p-2">&#9733; &#9733; &#9733; &#9733; </span><span id="count4">(<%=getCount(4);%>)</span></h4>
            <h4><span style="color: gold" class="p-2">&#9733; &#9733; &#9733; </span><span id="count3">(<%=getCount(3);%>)</span></h4>
            <h4><span style="color: gold" class="p-2">&#9733; &#9733; </span><span id="count2">(<%=getCount(2);%>)</span></h4>
            <h4><span style="color: gold" class="p-2">&#9733; </span><span id="count1">(<%=getCount(1);%>)</span></h4>
          </div>
        </div>
        <% if (userId && userId !== collectionData.user_id) { %>
        <div class="row my-3">
          <div class="col">
            <h4 class="my-3 lead fw-semibold">Rate this collection</h4>
            <div class="rating">
              <span class="star" onmouseover="hover(1)" onmouseout="remove()" onclick="handleRatingUpdate(1)">&#9733;</span>
              <span class="star" onmouseover="hover(2)" onmouseout="remove()" onclick="handleRatingUpdate(2)">&#9733;</span>
              <span class="star" onmouseover="hover(3)" onmouseout="remove()" onclick="handleRatingUpdate(3)">&#9733;</span>
              <span class="star" onmouseover="hover(4)" onmouseout="remove()" onclick="handleRatingUpdate(4)">&#9733;</span>
              <span class="star" onmouseover="hover(5)" onmouseout="remove()" onclick="handleRatingUpdate(5)">&#9733;</span>
              <p id="output"></p>
              <form action="/collections/<%=collectionData.collection_id%>/ratings/<%=userId%>/?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger p-2">
                  Remove Rating
                </button>
              </form>
            </div>
          </div>
        </div>
        <% } %>
        <!-- COMMENTS -->
        <div class="row my-3 border-top">
          <div class="col">
            <h4 class="my-3 lead fw-semibold">Comments</h4>
            <% comments.forEach((comment) => { %>
            <div class="card my-2">
              <div class="card-body">
                <h5 class="card-title"> <%= comment.User.username %> </h5>
                <% const dateTime = new Date(comment.created_at).toLocaleString({hour: '2-digit', minute: '2-digit'}).replace(/(:\d{2}| [AP]M)$/, ""); %>
                <p class="card-text"><em><%= dateTime %></em>: <%= comment.comment %></p>
                <% if (userId === comment.user_id) { %>
                <form action="/collections/<%=collectionData.collection_id%>/comments/<%=comment.comment_id%>/?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-close position-absolute p-3 top-0 end-0">
                  </button>
                </form>
                <% } %>
              </div>
            </div>
            <% }) %>
            <% if (userId && userId !== collectionData.user_id) { %>
            <div class="my-3">
              <form action="/collections/<%=collectionData.collection_id%>/comments" method="POST">
                <div class="form-group">
                  <label for="comment" class=" form-label">Leave a comment</label>
                  <textarea type="text" id="comment" class="form-control" name="comment" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
              </form>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row justify-content-center gap-2 mt-5">
          <% if (cards === null) { %>
          <h4>This collection hasn't got any cards yet</h4>
          <% } else { %>
          <% cards.forEach((card) => { %>
          <div class="col-xxl-2 col-lg-3 col-5">
            <a href="/cards/<%= card.card_id%>">
              <div class="card shadow my-2 position-relative pokemonCard">
                <!-- REMOVE CARD FROM COLLECTION BUTTON -->
                <% if (route.startsWith ('/collections/') && userId === collectionData.user_id) { %>
                <form action="/collections/<%=collectionData.collection_id%>/cards/<%=card.card_id%>/?_method=DELETE" method="POST">
                  <button class="btn btn-danger position-absolute top-0 start-100 translate-middle  p-2 border border-light rounded-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                  </button>
                </form>
                <% } %>
                <img src="<%= card.Images[0].url %>" class="card-img-top img-fluid" alt="..." />
                <div class="card-body pokemonCardBody">
                  <h6 class="card-title lead fw-semibold font-monospace">
                    <%= card.name %>
                  </h6>
                </div>
              </div>
            </a>
          </div>
          <% }) %>
          <% } %>
        </div>
      </div>
    </div>
    <% } else if (route.startsWith('/wishlist')) {  %>
    <div class="row justify-content-center gap-2 mt-5">
      <div class="col">
        <h4>Wishlist</h4>
      </div>
    </div>
    <div class="row justify-content-center gap-2 mt-5">
      <% if (cards === null) { %>
      <h4>This wishlist hasn't got any cards yet</h4>
      <a href="/cards">Find some cards to add here!</a>
      <% } else { %>
      <% cards.forEach((card) => { %>
      <div class="col-xxl-2 col-lg-3 col-5">
        <a href="/cards/<%= card.card_id%>">
          <div class="card shadow my-2 position-relative pokemonCard">
            <!-- REMOVE CARD FROM WISHLIST BUTTON -->
            <% if (route.startsWith ('/wishlist') && userId === wishlistData.user_id) { %>
            <form action="/wishlist/<%=wishlistData.wishlist_id%>/card/<%=card.card_id%>/?_method=DELETE" method="POST">
              <button class="btn btn-danger position-absolute top-0 start-100 translate-middle  p-2 border border-light rounded-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>
              </button>
            </form>
            <% } %>
            <img src="<%= card.Images[0].url %>" class="card-img-top img-fluid" alt="..." />
            <div class="card-body pokemonCardBody">
              <h6 class="card-title lead fw-semibold font-monospace">
                <%= card.name %>
              </h6>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
      <% } %>
    </div>
    <% } else {  %>
    <!-- Cards grid -->
    <div class="row justify-content-center gap-2 mt-5">
      <% cards.forEach((card) => { %>
      <div class="col-xxl-2 col-lg-3 col-5">
        <a href="/cards/<%= card.card_id%>">
          <div class="card shadow my-2 position-relative pokemonCard">
            <img src="<%= card.Images[0].url %>" class="card-img-top img-fluid" alt="..." />
            <div class="card-body pokemonCardBody">
              <h6 class="card-title lead fw-semibold font-monospace">
                <%= card.name %>
              </h6>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
    </div>
  </div>
  <% } %>
  <div class="container">
    <% if (totalPages > 1) { %>
    <nav aria-label="Page navigation">
      <ul class="pagination d-flex justify-content-center my-4">
        <% if (currentPage > 1) { %>
        <li class="page-item">
          <a class="page-link" href="
            ?page=<%= currentPage -1 %>">Previous</a>
        </li>
        <% } %> <% for (let i = startPage; i <= endPage; i++) { %>
        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
          <a class="page-link" href="
            ?page=<%= i %>"><%= i %></a>
        </li>
        <% } %> <% if (currentPage < totalPages) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage +1 %>">Next</a>
        </li>
        <% } %>
      </ul>
    </nav>
    <% } %>
  </div>
  <!-- SCRIPTS -->

  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

  <% if ( collectionData && userId ) { %>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const userId = "<%= userId %>";
    const collectionId = "<%= collectionData.collection_id %>";
  </script>
  <script src="/scripts/rating.js"></script>
  <% } %>
</body>

</html>