<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= route.startsWith('/collections') ? collectionData.name : (route.startsWith('/wishlist')) ? 'Wishlist' : 'Cards'%></title>
  <link rel="stylesheet" href="/css/custom.css" />
</head>

<body>
  <style>
    .pokemonCardBody {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(88, 1, 114, 0.534);
      color: white;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    .pokemonCard:hover .pokemonCardBody {
      opacity: 1;
    }

    .pokemonCard {
      transition: transform 0.3s ease;
    }

    .pokemonCard:hover {
      transform: scale(1.1);
    }

    .star {
      font-size: 2rem;
      cursor: pointer;

    }

    .star.gold {
      color: gold;
    }
  </style>
  <%- include('components/navbar.ejs') %>
  <%- include('components/searchFilter.ejs') %>
  <div class="container-lg container-fluid">
    <% if (route.startsWith ('/collections')) { %>
    <%- include('components/collectionDetails.ejs') %>
    <div class="row justify-content-center gap-2 mt-3">
      <% if (cards === null) { %>
      <h4 class="text-center">This collection hasn't got any cards yet</h4>
      <% } else { %>
      <%- include('components/paginationInfo.ejs') %>
      <% cards.forEach((card) => { %>
      <div class="col-xl-2 col-lg-3 col-5">
        <a href="/cards/<%= card.card_id%>">
          <div class="card shadow my-2 position-relative pokemonCard">
            <!-- REMOVE CARD FROM COLLECTION BUTTON -->
            <% if (route.startsWith ('/collections/') && userId === collectionData.user_id) { %>
            <%- include('components/removeFromCollectionButton.ejs', {card: card}) %>
            <% } %>
            <img src="<%= card.Images[0].url %>" class="card-img-top img-fluid" alt="..." />
            <div class="card-body pokemonCardBody">
              <h6 class="card-title lead fw-semibold ">
                <%= card.name %>
              </h6>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
      <% } %>
    </div>
    <% } else if (route.startsWith('/wishlist')) {  %>
    <div class="row justify-content-center gap-2 mt-5">
      <div class="col">
        <h4>Wishlist</h4>
      </div>
    </div>
    <div class="row justify-content-center gap-2 mt-5">
      <% if (cards === null) { %>
      <h4>This wishlist hasn't got any cards yet</h4>
      <a href="/cards">Find some cards to add here!</a>
      <% } else { %>
      <%- include('components/paginationInfo.ejs') %>
      <% cards.forEach((card) => { %>
      <div class="col-xxl-2 col-lg-3 col-5">
        <a href="/cards/<%= card.card_id%>">
          <div class="card shadow my-2 position-relative pokemonCard">
            <!-- REMOVE CARD FROM WISHLIST BUTTON -->
            <% if (route.startsWith ('/wishlist') && userId === wishlistData.user_id) { %>
            <%- include('components/removeFromWishlistButton.ejs', {card: card}) %>
            <% } %>
            <img src="<%= card.Images[0].url %>" class="card-img-top img-fluid" alt="..." />
            <div class="card-body pokemonCardBody">
              <h6 class="card-title lead fw-semibold ">
                <%= card.name %>
              </h6>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
      <% } %>
    </div>
    <% } else {  %>
    <!-- Cards grid -->
    <% if (cards === null) { %>
    <h4>No cards found</h4>
    <% } else { %>
    <%- include('components/paginationInfo.ejs') %>
    <div class="row justify-content-center gap-2 mt-3">
      <% cards.forEach((card) => { %>
      <div class="col-xxl-2 col-lg-3 col-5">
        <a href="/cards/<%= card.card_id%>">
          <div class="card shadow my-2 position-relative pokemonCard">
            <img src="<%= card.Images[0].url %>" class="card-img-top img-fluid" alt="..." />
            <div class="card-body pokemonCardBody">
              <h6 class="card-title lead fw-semibold">
                <%= card.name %>
              </h6>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
    </div>
    <% } %>
    <% } %>
    <div class="container">
      <% if (totalPages > 1) { %>
      <%- include('components/paginationControls.ejs') %>
      <% } %>
    </div>



    <!-- SCRIPTS -->

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <% if (route.includes("/collections")&& userId ) { %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const userId = "<%= userId %>";
      const collectionId = "<%= collectionData.collection_id %>";
    </script>
    <script src="/scripts/rating.js"></script>
    <% } %>
</body>

</html>